.whole_container {
  margin-top: 8rem;
}

.margin_bottom {
  margin-bottom: 0.6rem;
  display: flex;
  justify-content: start;
}
.error_container {
  height: 1rem;
  display: flex;
  justify-content: start;
}
.sidebar {
  background-color: #1d72db;
  height: 100%;
  max-width: 20rem;
  min-width: 10rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.property_boxShadow {
  box-shadow: 0px 0px 20px #323d5a1f;
}

.stepper_border_radius {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 30px;
  padding-left: 40px;
  padding-top: 120px;
}

.propertyFeature_border_radius {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* .propertyFeatures_status_width{
  width: 30rem;
} */
.fontFam_poppins {
  font-family: "Poppins";
}
.bg_color_1D72DB {
  background-color: #1d72db;
}
.color_1D72DB {
  color: #1d72db;
}
.cursor_pointer {
  cursor: pointer;
}

.font_24 {
  font-size: 1.25rem;
}

.font_18 {
  font-size: 16px;
}

.font_20 {
  font-size: 16px;
}

.font_14 {
  font-size: 14px;
}
.font_semibold {
  font-weight: 600;
}

.font_medium {
  font-weight: 500;
}

.font_light {
  font-weight: 300;
}

.font_regular {
  font-weight: 400;
}

.propetyfeature_input {
  border: none;
  background-color: #f4f8fb;
  color: black;
  font-size: 13px;
  font-family: Poppins, light;
  border-radius: 4px;
}

.amenities_list_flex_res {
  display: flex;
}

.propetyfeature_input:focus-visible {
  outline: 1px solid #1d72db;
}

.modal_icon_arrowRight {
  font-size: xx-large;
}

.modal_icon_arrowRightbtn {
  font-size: 12px;
  outline: 1px solid #fff;
}

.icon_arrowLeftbtn {
  color: #1d72db;
  outline: 2px solid #1d72db;
  font-size: 13px;
}

.propertyFeature_width_50_to_75 {
  width: 50%;
}

.input_container {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.amenities_list_title {
  font-size: 14px;
  margin-left: .5rem;
}

@media only screen and (max-width: 1200px) {
  .stepper_border_radius {
    padding: 0px;
    padding-left: 10px;
    padding-top: 120px;
  }
}

@media only screen and (max-width: 990px) {
  .amenities_list_flex_res {
    display: block;
  }
  .styles.property_boxShadow {
    box-shadow: none !important;
  }

  .error_container {
    justify-content: end;
  }

  .sidebar {
    background-color: #1d72db;
    height: 100%;
    max-width: 50rem;
    min-width: 10rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-top: 5%;
  }

  .propertyFeature_width_50_to_75 {
    width: 75%;
  }

  .amenities_width {
    width: 100% !important;
  }

  .propertyFeature_width_50_to_75 {
    width: 100% !important;
  }

  .input_container {
    margin-left: 0.6rem !important;
    margin-right: 0.6rem !important;
  }

  .stepper_border_radius {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    padding: 2rem;
  }

  .propertyFeature_border_radius {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .font_24 {
    font-size: 20px;
  }

  .font_20 {
    font-size: 16px;
  }

  .amenities_list_title {
    font-size: 14px;
    font-weight: 500;
  }

  .property_features_list_container {
    width: 100% !important;
  }
}
/* 
@media only screen and (min-width: 1198px) {
  .select_status::placeholder{
    margin-right:85px;
  }
} */

@media only screen and (max-width: 1100px) {
  .sidebar {
    background-color: #1d72db;
    height: 100%;
    max-width: 50rem;
    min-width: 10rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-top: 5%;
  }
}
