.fontFam_poppins {
  font-family: "Poppins";
}
.bg_color_1D72DB {
    background-color: #1d72db;
  }
  .color_1D72DB {
    color: #1d72db;
  }
.cursor_pointer {
  cursor: pointer;
}

.container_flex_res{
  display: flex;
  justify-content: space-between;
}

.font_24 {
  font-size: 24px;
}

.font_18 {
  font-size: 18px;
}


.font_20 {
  font-size: 20px;
}

.font_14 {
  font-size: 14px;
}
.font_semibold {
  font-weight: 600;
}

.font_medium {
  font-weight: 500;
}

.font_light {
  font-weight: 300;
}

.font_regular {
  font-weight: 400;
}

.propetyfeature_input {
  border: none;
  background-color: #f4f8fb;
  color: black;
  width: 40%;
  font-size: 13px;
  font-family: Poppins, light;
  border-radius: 4px;

}

.propetyfeature_input:focus-visible {
  outline: 1px solid #1d72db;
}


.modal_icon_arrowRight {
    font-size: xx-large;
  }
  
  .modal_icon_arrowRightbtn {
    font-size: 12px;
  }

  .icon_arrowLeftbtn{
color: #1d72db;
outline: 1px solid #1d72db;
font-size: 12px;

  }
