.sidebar {
  background-color: #1d72db;
  height: 100%;
  max-width: 25rem;
  min-width: 15rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.propertyHeading {
  color: #1d72db;
  font-family: Poppins, medium;
}
.selectHeading {
  font-family: Poppins, medium;
}
.location {
  border: none;
}
.description {
  height: 8rem;
  border: 1px solid #bcc7ce;
  background-color: #fff;
  border-radius: 7px;
  font-family: Poppins, Regular;
  font-size: 14px;
  font-weight: 500;
  resize: none;
}

.description::placeholder {
  font-size: 13px;
  color: #bcc7ce;
}

.upload_image {
  height: 14rem;
  border: 1px solid #bcc7ce;
  background-color: #fff;
  border-radius: 7px;
  font-family: Poppins, Regular;
  font-size: 10px;
}

.upload_text_1 {
  font-size: 13px;
  color: #bcc7ce;
  font-weight: 500;
}

.upload_text_2 {
  font-size: 10px;
  color: #bcc7ce;
  margin-top: -2%;
}

.upload_text_3 {
  color: #1d72db;
  font-size: 11px;
  font-weight: 500;
  margin-top:-3%;
}

.terms_condition_text {
  color: #323d5a;
  font-size: 14px;
  font-weight: 500;
}

.locationform {
  border: none;
  background-color: #f4f8fb;
  font-family: Poppins, Regular;
  font-size: 10px;
}

.labelText {
  font-family: Poppins, Regular;
}
.back {
  background: none;
}

.bg_color_1D72DB {
  background-color: #1d72db;
}
.MuiSvgIcon-root {
  color: #ffffff00 !important;
  border: 1px solid #ffffff !important;
}
.modal_icon_arrowRight {
  font-size: xx-large;
}

.modal_icon_arrowRightbtn {
  font-size: 12px;
}

.icon_arrowLeftbtn {
  color: #1d72db;
  outline: 1px solid #1d72db;
  font-size: 12px;
}


.error_message{
font-size:15px;
}

.upload_button{
  border:none;
  color:#1D72DB;
  background: none;
  font-size: 13px;
}
.property_boxShadow {
  box-shadow: 0px 0px 20px #323d5a1f;
}

.stepper_border_radius {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
padding: 30px;
padding-left: 40px;
padding-top: 120px;
}

.propertyFeature_border_radius {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


@media only screen and (max-width: 1200px) {
  .stepper_border_radius {
    padding: 0px;
    padding-left: 10px;
    padding-top: 120px;
  }
}
@media only screen and (max-width:  990px) {
  

  .sidebar {
    background-color: #1d72db;
  height: 100%;
    max-width: 50rem;
    min-width: 10rem;
   border-top-left-radius: 2rem;
    border-top-right-radius: 2rem; 
    border-bottom-right-radius: 2rem; 
  }


  .stepper_border_radius {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    padding:2rem ;
  
  }
  
  .propertyFeature_border_radius {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}