
.delete_btn{
    width: 45%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #1D72DB;
    border-radius: 7px;
    color:#1D72DB;
    opacity: 1;
    font-family: Poppins;
}
.no_btn{
    width: 45%;
    background-color: #1D72DB;
    border-radius: 5px;
    border: none;
    color: #ffff;
    font-family: Poppins;
}
.upload_subheading_text{
    color: #323D5A99;
    font-family: Poppins;
}
.upload_heading_text{
    color: #323D5A;
    font-family: Poppins;
}
.card_radius{
    border-radius: 10px;
}


@media only screen and (max-width: 992px) {
    .modal {
        bottom: 0;
        left: 0;
        margin: auto;
        max-height: max-content;
       
        position: fixed;
        right: 0;
        top: 0;
      }
}