.heading{
    font-size:21px;
    font-weight:600;
}

.login_text{
    font-size:14px;
    color:#323D5A99;
}

.login_button{
    background-color:#50BF97;
    width:90%;
    border:none;
    border-radius: 10px;
    color:#fff;
}

.otp_text{
    color:#F77223;
    cursor: pointer;
}

.resend_link{
    text-decoration: none;
    color:#1D72DB;
    font-size: 14px;
}

.input_text{
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #00000029;
   

}

.input_text::placeholder{
    color:#DDDBDB;
    font-weight: 600;
    font-size: 16px;
}

.input_text:focus-visible {
    
    outline: none;
  }

 .input_text_warning {
    
    border-bottom: 1px solid red;;
  } 

/* .otp_input{
    color:red !important;
} */

@media only screen and (max-width: 900px) {


  .modal {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: max-content;
    max-width: max-content;
    position: fixed;
    right: 0;
    top: 0;
  }

  /* .otp_warning{
      padding-right:rem;
  } */
}