.register_form_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  box-shadow: 0px 0px 15px #00000029 !important;
  border-radius: 20px !important;
  border: none !important;
}

.margin_top_5{
  margin-top: 5%;
}


.max_height_800 {
  max-width: 800px;
}

.max_height_500 {
  max-width: 500px;
}

.width_res_cen_half {
  width: 50%;
}

.rentSell_container {
  width: 170px;
  height: 170px;
  border: 2px solid #dbe9f2;
  border-radius: 10px;
}

.margin_l_3 {
  margin-left: 3rem;
}

.padding_l_4 {
  padding-left: 1.5rem;
}

.margin_r_3 {
  margin-right: 0rem;
}

.fontFam_poppins {
  font-family: "Poppins";
}

.modal_icon_arrowRight {
  font-size: xx-large;
}

.modal_icon_arrowRightbtn {
  font-size: 12px;
}

.cursor_pointer {
  cursor: pointer;
}

.modal_body_register {
  padding-top: 0;
  padding-bottom: 2.5rem !important;
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}
.modal_boxShadow_register {
  box-shadow: 0px 0px 15px #00000029;
  border-radius: 20px;
}

.color_323D5A {
  color: #323d5a;
}

.color_1D72DB {
  color: #1d72db;
}
.bg_color_1D72DB {
  background-color: #1d72db;
}

.color_1D1E1F {
  color: #1d1e1f;
}

.color_DDDBDB {
  color: #dddbdb;
}

.opacity_6 {
  opacity: 0.6;
}

.font_24 {
  font-size: 24px;
}

.font_18 {
  font-size: 18px;
}

.font_20 {
  font-size: 20px;
}

.font_14 {
  font-size: 14px;
}

.font_semibold {
  font-weight: 600;
}

.font_medium {
  font-weight: 500;
}

.font_light {
  font-weight: 300;
}

.font_regular {
  font-weight: 400;
}

.modal_btn_complete {
  background-color: #1d72db;
  border-radius: 7px;
}

.modal_input_registeruser {
  border: 1px solid #dddbdb;
  border-radius: 7px;
  padding: 7px;
}

.modal_inputProfile_registeruser {
  border: 1px solid #dddbdb;
  border-radius: 7px;
  width: 100px;
  height: 100px;
}

.modal_input_registeruser::placeholder {
  color: #dddbdb;
  font-size: 14px;
}

/*******USER TYPE MODAL********/
.modal_box_type {
  border: 2px solid #1d72db;
  border-radius: 10px;
}

/******MEDIA QUERY*******/

@media only screen and (max-width: 992px) {
  .flex_column {
    flex-direction: column !important;
  }

  .width_res_cen_half {
    width: 100%;
  }

  .margin_l_3 {
    margin-left: 0rem;
  }
}

@media only screen and (max-width: 500px) {
  .margin_r_3 {
    margin-right: 1rem;
  }

  .padding_l_4 {
    padding-left: 10px;
  }

  .rentSell_container {
    width: 150px;
    height: 150px;
  }
}
