.body_background {
 background-color: #F6F5F5;
  opacity: 1;
}
.related_properties {
  color: #323D5A;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
}
.seeall_button {
  color: #50BF97;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  border: none;
  background-color: transparent;
}