.headerlogo {
    font-family: Lato;
    font-size: 36px;
    font-weight: 900;
    text-decoration: none;
    color:black;
  }

.navbar_icon_menu{
  color: #1d72db;
  
}

  .headermenu {
    font-family: Poppins,medium;
    font-size: 20px;
    font-weight: 600;
    color: #323D5A;
    text-decoration: none;
  }

  .headerIcon{
    font-family: Poppins,medium;
    font-size: 20px;
    font-weight: 600;
    color: #323D5A;
    text-decoration: none;
    border:1px solid black;
    border-radius: 7px;
  }
  
  .landingheader {
    background-color: #013EA3;
    color: #ffffff;
    font-family: Poppins;
    font-weight: 400;
    border: none;
    border-radius: 6px;
    padding: .5rem;
  }
  .container{
    box-shadow: 0px 0px 8px #ccc;
  }

  
  @media only screen and (max-width: 992px){
    .zameenimage{
      width:10rem;
      

    }

    .headermenu {
      font-family: Poppins,medium;
      font-size: 18px;
      font-weight: 500;
      color: #323D5A;
      text-decoration: none;
      
      
    }

    .navbar{
      margin-bottom: 3%;
      text-align: center;
    }

    .container{
      position: fixed;
      top:0%;
      overflow: hidden;
      z-index: 5;
      background-color: #fff;
   
    }
 
  }