.profile_container {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #0000001f;
  border-radius: 20px;
  opacity: 1;
}
.body {
    overflow-x: hidden;
}
.agent_detail_height {
  height: 7rem;
  background-color: green;
}
.number_properties {
  background-color: #f77223;
  border-radius: 7px;
}
.white_space {
  width: 21%;
}
.details_width {
  width: 79%;
}
.contact_button {
  background: #1d72db 0% 0% no-repeat padding-box;
  border-radius: 26px;
  opacity: 1;
  border: none;
}
@media only screen and (max-width: 1530px) {
  .white_space {
    width: 25%;
  }
  .details_width {
    width: 75%;
  }
}

@media only screen and (max-width: 1200px) {
  .white_space {
    width: 30%;
  }
  .details_width {
    width: 70%;
  }
}
