  .reviewtext {
    color: #323d5a;
    font-family: "Poppins", sans-serif;
    font-size: 42px;
  }
  .reviewtextarea {
    width: 60%;
    border: 1px solid #dbe9f2;
    border-radius: 7px;
    opacity: 1;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.2px;
    height: 12rem;
    resize: none;
    padding-left: 10px;
  }
  .reviewtextarea::placeholder {
    font-family: "Poppins", sans-serif;
    opacity: 1;
    color: #bcc7ce;
  }
    .reviewtextarea:focus-visible {
    outline: none;
  }
  .review_submit {
    background-color: #fbc352;
    width: 10rem;
    color: #ffffff;
    border-radius: 6px;
    font-family: "Poppins", sans-serif;
    border: none;
    height: 38px;
  }
  .review_submit:hover{
    color: #ffffff;
  }
  .review_card {
    background: #dbe9f24d 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    font-family: "Poppins", sans-serif;
    width: 60%;
  }
  .review_profile{
      border: 3px solid #ffffff;
      border-radius: 8px;
  }
  .reviewdate{
      color: #013EA3;
      font-family: "Poppins", sans-serif;
  }
  .stars{
    font-size: 52px;
  }
  .reviewrating_number {
    color: #1d72db;
  }
  .reviewrating_text {
    color: #1d72db;
  }
  
  @media only screen and (max-width: 992px) {
  .reviewtext {
    font-size: 36px;
  }
  .reviewtextarea {
    width: 80%;
    height: 12rem;
  }
  .review_card {
    width: 80%;
  }
  .stars{
    font-size: 42px;
  }
  }
  @media only screen and (max-width: 768px) {
    .reviewtextarea {
      width: 85%;
        }
    .review_card {
      width: 85%;
    }
    .profilename{
      font-size: 22px;
    }
  }
  @media only screen and (max-width: 568px) {
    .reviewtext {
       font-size: 32px;
    }
    .reviewtextarea {
      width: 85%;
      height: 10rem;
    }
    .reviewtextarea::placeholder {
      font-size: 14px;
    }
    .review_card {
      width: 85%;
    }
    .reviewtext {
      font-size: 30px;
    }
    .stars{
      font-size: 32px;
    }
    .profilename{
      font-size: 19px;
    }
    .reviewrating_number {
    
      font-size: 17px;
    }
    .reviewrating_text {
      
      font-size: 17px;
    }
    .rstarimg{
      width: 5px;
      height: 5px;
    }
    .reviewcount
    {
      font-size: 15px;
    }  
  }
  
 
  @media only screen and (max-width: 280px) {
  .reviewtext {
    font-size: 17px;
  }
    .reviewrating_number {
      font-size: 11px;
    }
    .reviewrating_text {
      font-size: 11px;
    }
    .reviewcount
    {
      font-size: 10px;
    }
    .rstarimg{
      width: 8px;
      height: 8px;
    }
    .reviewtextarea {
      width: 85%;
     
    }
  }
  