.column{
    width:fit-content;
}
.cards{
    width:max-content;
    margin-right: 3rem;
    
    border: none;
}
.card_body{
    border-radius: 10px;
}

.eye_text{
    font-size: 15px;
}

@media only screen and (max-width: 992px) {
    .card{
        width:auto
    }
  
}
@media only screen and (max-width: 480px) {
    .card{
        width:auto
    }
    .eye_text{
        font-size: 12px;
    }
    .eye_icon{
        width:2rem !important;
    }
}