.main_card{
    width:54rem;
}
.first_card{
   width: fit-content;

}


@media only screen and (max-width: 992px) {
    .main_card{
        width:auto;
    }
}
@media only screen and (max-width: 780px) {
    .main_card{
        width:auto;
    }
}

@media only screen and (max-width: 480px) {
    .main_card{
        width:auto;
    }
}