.background_card {
  box-shadow: 0px 0px 7px #ccc;
  border-radius: 7px;
  background-color: #ffffff;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 2rem;
  width: max-content;
  padding: 2rem;
}


.back_text {
  color: #24734e;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
}
.luxuries_image {
  width: 15rem;
}
.address_details {
  width: 25rem;
}
.location_icon{
  margin-top: -1%;
}
.imageContainer {
  width: 3rem;
  height: 2rem;
  /* border: 1px solid black; */
  align-items: center;
  text-align: center;
}
.property_heading {
  font-size: 24px;
  font-family: Poppins;
  color: #323d5a;
  font-weight: 500;
}
.lorem_text {
  font-family: Poppins;
  font-size: 12px;
  color: #323d5a;
  font-weight: 500;
}
.readmore_btn {
  border: none;
  background: none;
  color: #f77223;
}

.image_style {
  border-radius: 20px !important;
}
.flat_heading {
  font-family: Poppins;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
}

.address_icon {
  color: #bcc7ce;
  font-family: Poppins;
  font-size: 14px;
}
.address_heading {
  text-align: start;
  color: #bcc7ce;
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
}

.super_area {
  font-size: 10px;
  color: #bcc7ce;
  font-family: Poppins;
  font-weight: 400;
  width: 4rem;
}
.super_area_sub {
  font-size: 12px;
  color: #1d72db;
  font-family: Poppins;
  font-weight: 400;
}
.li_list::marker {
  color: #24734e !important;
}
.card_container {
  border: none;
}
.card_body {
  border-radius: 10px;
  border: none !important;
  box-shadow: 0px 0px 7px #ccc;
  width: auto;
}
.posted_on {
  font-size: 12px;
  color: #323d5a;
  opacity: 87%;
  font-family: Poppins;
  text-align: start;
  font-weight: 500;
}
.posted_on_mobile {
  font-size: 10px;
  color: #323d5a;
  opacity: 87%;
  font-family: Poppins;
  text-align: start;
  font-weight: 500;
}
.rupee_text_mobile{
  display: none;
  font-family: Poppins;
  font-weight: 600;
}
.rupee_text {
  font-size: 25px;
  font-family: Poppins;
  font-weight: 600;
  position: absolute;
  bottom:60px;
  right:20px  
}
.edit_delete{
  position: absolute;
  bottom: 15px;
  right:20px
}
.edit_btn {
  background-color: #1d72db;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 500;
}
.delete_btn {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #1d72db;
  color: #1d72db;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 500;
}
.edit_icon {
  font-size: 14px;
  vertical-align: middle;
}
.delete_icon {
  font-size: 14px;
  vertical-align: middle;
}
.posted_on_mobile {
  display: none !important;
}
.edit_delete_mobile{
  display: none !important;
}
.edit_delete_container {
  width: 20rem;
}

.verified{
  background-color: #24734E1A;
  width: fit-content;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top:0;
  right: 0;
}
.verified_mobile{
  background-color: #DCFFED;
  width: 8rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute; 
  bottom: 0;
}
.verified_text{
  font-size: 12px;
  color: #24734E;
  font-family: Poppins;
  font-weight: 500;
}

.tick_icon{
  width: 12px;
}
.verified_mobile{
  display: none !important;
}

@media only screen and (max-width: 992px) {
  .background_card {
    box-shadow: 0px 0px 15px #00000012;
    border-radius: 7px;
    background-color: #ffffff;
    max-width: auto;
    margin: 0 auto;
    width: auto;
    margin-top: 2rem;
    padding: 0rem !important;
  }
  
  .card_body {
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
  }
  .posted_on_mobile {
    display: none !important;
  }
  .rupee_text_mobile{
    display: none;
  }
  .edit_delete_mobile{
    display: none !important;
  }
  .verified_mobile{
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .background_card {
    box-shadow: none;
    border-radius: 7px;
    background-color: #ffffff;
    max-width: auto;
    margin: 0 auto;
    width: auto;
    margin-top: 2rem;
    padding: 0rem ;
  }
  .card_body {
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
  }
  .posted_on_mobile {
    display: none !important;
  }
  .rupee_text_mobile{
    display: none;
  }
  .edit_delete_mobile{
    display: none !important;
  }
  .verified_mobile{
    display: none !important;
  }

 
}

@media only screen and (max-width: 480px) {
  .verified_mobile{
    display: block !important;
  }
  .edit_delete_mobile{
    display: block !important;
  }
  .edit_delete_container {
    display: none;
  }
  .posted_on {
    display: none !important;
  }
  .background_card {
    box-shadow: none;
    border-radius: 7px;
    background-color: #ffffff;
    max-width: auto;
    margin: 0 auto;
    width: auto;
    margin-top: 2rem;
    padding: 0rem ;
  }
  .card_body {
    border-radius: 15px;
    border: none;
    box-shadow: none;
    width: auto;
    padding: 0px;
  }
  .luxuries_image {
    width: 8rem;
  }
  .address_details {
    width: 12rem;
  }
  .flat_heading {
    font-size: 11px;
  }
  .address_heading {
    font-size: 10px;
  }
  .flat_details {
    display: none;
  }
  .lorem_text_container {
    display: none;
  }
  .posted_on_mobile {
    display: block !important;
  }
  .rupee_text_mobile{
    display: block;
  }
  .location_icon{
    margin-top: -3%;
    width: 20px !important;
  }
  .property_heading{
    font-size: 20px;
  }
  .back_icon{
    margin-top: 5rem;
  }
}
