.fd{
    box-shadow: 0px 0px 15px #00000012;
    border-radius: 7px;
    background-color: #ffffff;
    max-width: 1000px;
    margin: 0 auto;
  width: 75rem;
    margin-top: 2rem;
}

.back_text{
    color:#24734E;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
}

.back_iocn{
    vertical-align:baseline !important;
}
.property_heading{
    font-size: 24px;
    font-family: Poppins;
    color:#323D5A;
    font-weight: 500;
}


.image_style {
    border-radius: 20px !important;
  }
  .luxuries{
    position: absolute;
    background-color: #fbc352;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem ;
    top: 16px;
    left: 16px;
    font-family: Poppins;
    font-weight: 500;
  }
  .flat_heading{
    font-family: Poppins;
    font-weight: 500;
    color: #000000;
    font-size: 22px;
  }
  .address_icon{
    color: #BCC7CE;
    font-family: Poppins;
    font-size: 14px;
  }
  .address_heading{
    text-align: start;
    color: #BCC7CE;
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
  }

  .super_area{
    font-size: 12px;
    color: #BCC7CE;
    font-family: Poppins;
    font-weight: 400;
  }
  .super_area_sub{
    font-size: 12px;
    color: #1D72DB;
    font-family: Poppins;
    font-weight: 400;
  }
   .li_list::marker{
    color: #24734E !important;
   
}

/* .see_more{
    color: #F77223;
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
} */

.card_body{
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:75%;
}
.posted_on{
    font-size: 12px;
    color: #323D5A;
    opacity: 87%;
    font-family: Poppins;
    text-align: start;
    font-weight: 500;
}




@media only screen and (max-width: 992px) {
    .card_images{
        margin-bottom: 20px !important;
    }
    .fd{
        box-shadow: 0px 0px 15px #00000012;
        border-radius: 7px;
        background-color: #ffffff;
        max-width: 1000px;
        margin: 0 auto;
        width: 65rem;
        margin-top: 2rem;
    }
       
}

@media only screen and (max-width: 360px) {
    .fd{
        box-shadow: none;
    border-radius: 7px;
    background-color: #ffffff;
    max-width: auto;
    margin: 0 auto;
  width: auto;
    margin-top: 2rem;
    }
    .card_body{
        border-radius: 15px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width:auto;
    }
}