.dropdown {
    margin: 0 auto;
    z-index: 10000;
    width: 300px;
    position: relative;
  }
  .dropdown,
  .dropdown * {
    z-index: 10;
  }
  .dropdown .dropdown_btn {
    cursor: pointer;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #777;
    font-weight: 500;
  }
  .dropdown_content {
    position: absolute;
    /* top: 110%; */
    left: 0;
    width:max-content;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.07);
    background-color: #fcfcfc;
  }
  .dropdown_content .item {
    padding: 10px;
    cursor: pointer;
  }
  .dropdown_content .item:hover {
    background: #fcfcfc;
  }
  
  .button {
    z-index: -1;
    display: block;
    width: 300px;
    margin: 0 auto;
  }
  
.close_btn{
    border: none;
    background-color: transparent;
}