.amenities_title{
    color: #323D5A;
    font-family: Poppins;
}
.card_radius{
    border-radius: 10px;
}
.save_btn{
    background-color: #1D72DB;
    border-radius: 5px;
    border: none;
    color: #FFFF;
    font-family: Poppins;
  }  

  .amenities_container{
    max-width: 35rem;
  }

  .industry_amenities_container{
    max-width: 38rem;
  }
  .industrial_shed_amenities_container{
    max-width: 38rem;
  }

