.aboutproperty {
  border-radius: 15px;
  background-color: #ffffff;

}

.about_property_text {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.about_property_horizontal {
    border: 1px solid #DBE9F2;
} 

.about_property_heading {
    color: #BCC7CE; 
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.about_property_amenity {
    color: #1D72DB; 
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.property_comprise_heading {
    color: #323D5A;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;

}
.about_readmore_text {
    color: #323D5A;
    font-size: 12px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    
}
.about_readmore_button {
    color: #1D72DB;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border: none;
    text-decoration: underline;
    background-color: transparent;

}