.agent_properties {
  border-radius: 20px;
  background-color: #ffffff;
}
.seeall_button {
  color: #50bf97;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  border: none;
  background-color: transparent;
}
.agent_properties_text {
  color: #323d5a;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.agent_help_text {
  color: #000000;
  font-weight: 600;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
}
.agent_properties_icon {
  color: #50bf97;
}

.agent_properties_list {
  color: #000000;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.agent_properties_bullet {
  list-style: none;
}

.agent_image {
  border-radius: 50%;
}

.agent_name {
  color: #323d5a;
  font-weight: 600;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
}
.agent_rating {
  color: #1d72db;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
}
.agent_properties_navigation {
  border-radius: 50%;
  background-color: #dddbdb;
}
.scrollmenu {
  width: 100%;
}
.scrollmenu > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.scrollmenu > .row::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

.prev_button {
  right: 65%;
  top: 50%;
}
.next_button {
  right: 0%;
  top: 50%;
}
.arrow_left_button {
  background-color: #1d72db;
  border-radius: 50%;
  width: 30px;
  left: -2%;
  top: 50%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.arrow_right_button {
  background-color: #1d72db;
  border-radius: 50%;
  right: -2%;
  top: 50%;

  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.prev_decor {
  border-radius: 50%;
  background-color: #dddbdb;
  border: none;
  width: 30px;
  height: 30px;
}
.agent_name {
  color: #1d72db;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
@media only screen and (max-width: 992px) {
  .scrollmenu {
    width: 100%;
  }

  .agent_name {
    font-weight: 600;
    font-size: 14px;
  }
  .agent_properties_text {
    font-size: 14px;
    font-weight: 600;
  }
}
