.amenties {
  border-radius: 15px;
  background-color: #ffffff;
}
.amenties_text {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.amenties_horizontal {
  border: 1px solid #dbe9f2;
}
.amenties_list {
  color: #323d5a;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.amenties_bullet{
   list-style: none;
}
.amenties_list::marker {
  content: "\2022";
  color: #24734E;
  font-weight: 900;
  display: inline-block; 
  font-size: 20px; 
}


/* .amenties_list::marker{
font-size: 20px;
content: "/2022";
} */
@media only screen and (min-width: 992px) and (max-width: 1300px) {
  .amenties_list {
    font-size: 10px;
 
  }
    
}
