.seemore_text {
  font-size: 12px;
  font-weight: 700;
  color: #013ea3;
  text-shadow: 0px 0px 20px #0000001f;
  text-transform: capitalize;
  opacity: 1;
}

.seemore_button {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #0000001f;
  border-radius: 4px;
  opacity: 1;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.arrows {
  width: 2rem;

  z-index: 99;
  border:1px solid black
}
