.related_image {
  box-shadow: 0px 0px 7px #0000001f;
  border-radius: 10px;

}
.luxurius {
  color: #000000;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #FBC352;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  top: 5%;
  right: 5%;
}

.like_image {
    bottom: -12%;
    right: 10%;
}
.related_properties_price {
    color: #1D72DB;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.related_properties_location {
    color: #000000;
    font-size: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.ready_to_move {
    color: #ACA9A9;
    font-size: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.card_heading {
    color: #BCC7CE;
    font-size: 7px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.card_amenity {
    color: #1D72DB;
    font-size: 7px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}