.related_image {
  box-shadow: 0px 0px 7px #0000001f;
  border-radius: 10px;
  width: 18rem;
}
.luxurius {
  color: #000000;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #fbc352;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border-radius: 5px; */
  width: 50%;
  text-align: center;
  top: 0%;
  left: 0%;
}

.like_image {
  bottom: -7%;
  right: 10%;
}
.related_properties_price {
  color: #1d72db;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.related_properties_location {
  color: #000000;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  max-width: 13rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ready_to_move {
  color: #bcc7ce;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.card_heading {
  color: #bcc7ce;
  font-size: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.card_amenity {
  color: #1d72db;
  font-size: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.view_details_button {
  color: #ffffff;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-color: #1d72db;
  border-radius: 5px;
  border: none;
}
.posted_date {
  color: #979494;
  font-size: 11px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.property_photo {
  background: transparent 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
}
.save_image_button {
  border: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #0000001f;
  border-radius: 26px;
  opacity: 1;
  width: 35px;
  height: 35px;
}
