.request_call {
  box-shadow: 0px 0px 7px #ccc;
  border-radius: 12px;
  background-color: #ffffff;
  width: 85%;
}
.request_menu {
  background-color: transparent;
  border: none;
}
.posted_by {
  color: #323D5A;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.agent_image {
  border-radius: 4%;
}
.agent_name {
  color: #323d5a;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.agent_rating {
  color: #1d72db;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.rating_number {
  color: #323d5a;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
}
.more_properties {
  color: #24734e;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-decoration: underline;
}
.agent_number {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.request_button {
  background-color: #1d72db;
  color: #ffffff;
  border-radius: 7px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.agent_profile {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #1d72db;
  border-radius: 7px;
  opacity: 1;
  color: #1D72DB;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 13px;
}
.share_report_card {
  box-shadow: 0px 0px 20px #0000001f;
  opacity: 1;
  height: fit-content;
  width: fit-content;
  background-color: #ffffff;
  top: 15%;
  right: 3%;
  border-radius: 8px;
  border: none;
}
@media only screen and (max-width: 992px)  {
  .request_call {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1320px) {
  .request_call {
      width: 100%;
    } 
}