.headerlogo {
    font-family: Lato;
    font-size: 36px;
    font-weight: 900;
    text-decoration: none;
    color:black;
  }
  .headermenu {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
  }
  
  .landingheader {
    background-color: #013EA3;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
  }
  .container{
    box-shadow: 5px 5px 20px #00000029;
  }