.propertydetails {
  color: #1d72db;
  font-weight: 500;
}

.formcontrol {
  border: none;
  color: black;
  opacity: 1;
  font-size: 12px;
  background-color: #dbe9f24d;
  width: 92%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  font-family: Poppins, medium;
  resize: none;
  border-radius: 7px;
}

.formcontrol:focus-visible {
  outline: 1px solid #1d72db;
}
.propertycontainer {
  margin-top: 3rem;
  margin-left: 3rem;
}

.propertycolumn {
  background-color: lightskyblue;
  color: white;
  font-size: 18px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.container {
  box-shadow: 0px 0px 20px #323d5a1f;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 20px;
  width: 50%;
}
.body {
  margin-top: 5rem;
}
.formchecklabel {
  color: #1d72db;
  border: none;
  background-color: none !important;
}
.button {
  width: 8rem;
  height: 2rem;
  background-color: #1d72db;
  border: none;
  border-radius: 7px;
  color: white;
}
.propertydetails {
  font-size: 20px;
  font-family: Poppins, medium;
}
.cardtext {
  font-size: 15px;
  font-family: Poppins, Regular;
}
.formgroup {
  font-size: 15px;
  font-family: Poppins, Regular;
}
.steplabel {
  white-space: nowrap;
}
.media {
  display: none;
}

/*******mine****/

.icon_arrowRightbtn {
  font-size: 12px;
  color: white !important;
}

.icon_arrowLeftbtn {
  font-size: 12px;
  color: blue !important;
  border: blue !important;
}

@media only screen and (max-width: 900px) {
  .propertycolumn {
    border-radius: 20px;
  }
  .media {
    display: flex;
  }
  .media1 {
    display: none;
  }
  .container {
    width: 80%;
  }
  .propertycontainer {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}

