.seeall_button {
  color: #50bf97;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  border: none;
  background-color: transparent;
}
.similar_properties_heading {
  color: #323d5a;
}
.similar_properties_card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #0000001f;
  border-radius: 12px;
  opacity: 1;
  width: 90%;
}
.luxurius {
  color: #000000;
  background-color: #fbc352;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 50%;
  text-align: center;
  top: 0%;
  left: 0%;
}
.similar_property_location {
  color: #000000;
  font-size: 20px;
}
.ready_house {
  color: #ffffff;
  background: #24734e 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  font-size: 9px;
  white-space: nowrap;
}
.exact_location {
  color: #bcc7ce;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.about_property_heading {
  color: #bcc7ce;
  font-size: 12px;
  white-space: nowrap;
}
.about_property_amenity {
  color: #1d72db;
  font-size: 12px;
  white-space: nowrap;
}
.about_readmore_text {
  color: #323d5a;
  width: 90%;
  padding-top: 1rem;
  font-size: 13px;
}
.image_size {
  width: 23px;
  height: 23px;
}
.about_readmore_button {
  background-color: transparent;
  border: none;
  color: #f77223;
}
.contact_button {
  background: #1d72db 0% 0% no-repeat padding-box;
  border-radius: 26px;
  opacity: 1;
  border: none;
  color: #ffffff;
  width: 6.25rem;
}
.owner_image {
  border-radius: 50%;
  background: transparent 0% 0% no-repeat padding-box;
  border: 3px solid #1d72db;
  opacity: 1;
}
.posted_date {
  color: #323d5a;
  white-space: nowrap;
}
.scrollmenu {
  width: 100%;
}
.scrollmenu > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.scrollmenu > .row::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}
.home_image {
  border-radius: 10px;
  opacity: 1;
}
.save_image_button {
  border: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #0000001f;
  border-radius: 26px;
  opacity: 1;
  width: 35px;
  height: 35px;
}
.like_image {
  bottom: 5%;
  right: 5%;
}
.amenties_width {
  width: 98%;
  padding-top: 1rem;
}
.container {
  margin-bottom: 0.5rem;
}

.verified {
  background: #50bf97 0% 0% no-repeat padding-box;
  border-radius: 0px 12px;
  opacity: 1;
  width: 10%;
  right: 0%;
  top: 0%;
  white-space: nowrap;
}
.reviewed {
  background: #f77223 0% 0% no-repeat padding-box;
  border-radius: 0px 12px;
  opacity: 1;
  width: 15%;
  right: 0%;
  top: 0%;
  white-space: nowrap;
}
.rejected {
  background: #d91c30 0% 0% no-repeat padding-box;
  border-radius: 0px 12px;
  opacity: 1;
  width: 10%;
  right: 0%;
  top: 0%;
  white-space: nowrap;
}
.edit_property_button {
  background: #1d72db 0% 0% no-repeat padding-box;
  border-radius: 7px;
  opacity: 1;
  border: none;
  white-space: nowrap;
}
.edit_image_size {
  width: 15;
  height: 15;
}
.buttons_position {
  white-space: nowrap;
}
.delete_property_button {
  border: 1px solid var(--unnamed-color-1d72db);
  border: 1px solid #1d72db;
  border-radius: 7px;
  opacity: 1;
  background-color: #ffffff;
}
.view_properties_statistics {
  text-decoration: underline;
  margin-right: 0px;
}
.property_statistics_width {
  width: 100%;
}

.font_color_323D5A{
  color: #323D5A;
}

@media only screen and (max-width: 1300px) {
  .similar_properties_card {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #0000001f;
    border-radius: 12px;
    opacity: 1;
    width: 99%;
  }
  .reviewed {
    width: 20%;
  }
  .verified {
    width: 15%;
  }
  .container {
    margin-bottom: 1rem;
  }
  .about_readmore_text {
    padding-top: 0rem;
  }
  .amenties_width {
    padding-top: 0.5rem;
  }
  .image_size {
    width: 25px;
    height: 25px;
  }
  .similar_property_location {
    color: #000000;
    font-size: 12px;
  }
  .exact_location {
    color: #bcc7ce;
    font-size: 8px;
  }
  .about_property_heading {
    color: #bcc7ce;
    font-size: 8px;
  }
  .about_property_amenity {
    font-size: 8px;
  }
  .about_readmore_text {
    font-size: 8px;
  }
}
@media only screen and (max-width: 992px) {
  .reviewed {
    width: 20%;
  }
}
