.filter_navbar{
    margin-top: 6rem;
    background-color: #1D72DB;
    width: 100%;
}
.buy_btn{
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buy_text{
    color: #50BF97;
}