.back_icon{
    margin-top: 5rem;
}
.back_text{
    color: #24734E;
}
.card_body {
    border-radius: 10px;
    border: none !important;
    box-shadow: 0px 0px 7px #ccc;
    width: 100%;
  }

  .abcd{
    width: 60rem;
  }
  .flat_heading{
    color: #323D5A;
  }

  @media only screen and (max-width: 990px) {
    .abcd{
    width: 100%;
    }
  }