.back_icon{
    margin-top: 5rem;
}
.back_text{
    color: #24734E;
}
.card_body {
    border-radius: 10px;
    border: none !important;
    box-shadow: 0px 0px 7px #ccc;
    width: 100%;
  }

  .abcd{
    width: 60rem;
  }
  .flat_heading{
    color: #323D5A;
  }
  .address_heading{
    color: #BCC7CE;
  }
  .id_text{
    color:#323D5A;
  }
  .complete_status_text{
    color: #323D5A;
  }
  .complete_list{
    list-style-type: none;
    padding: 0; /* Remove padding */
    margin: 0;
    color: #323D5A;
  }
  .response_text{
    color: #323D5A;
    background-color: #DBE9F24D;
    border-radius: 5px;
  }
.add_photo_btn{
    border: none;
    background-color: #013EA3;
    border-radius: 5px;
    color: #ffffff;
}
.delete_icon{
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #323D5A1F;
 
}
.delete{
  position: relative;
  top:-102px;
  right:-70px;
  z-index: 999;
  border: none;
  background-color: transparent;
}
.image_container{
  border-radius: 7px;
}
  

  @media only screen and (max-width: 990px) {
    .abcd{
    width: 100%;
    }
  }


  @media only screen and (max-width: 480px) {
   .delete{
    position: relative;
    top:-92px;
    right:-60px;
    z-index: 999;
   } 
  }