html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a{
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

/******OVERRIDING BOOTSTRAP DEAFAULT MODAL STYLES*******/
/********************************************************/
.modal-content {
  box-shadow: 0px 0px 15px #00000029 !important;
  border-radius: 20px !important;
  border: none !important;
}
.modal-backdrop.fade {
  opacity: 0 !important;
}

.navbar-toggler:focus {
  box-shadow: none !important ;
}

.navbar-toggler {
  border: 2px solid #1d72db !important;
  padding-top: 0.3rem;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  background-color: #f4f8fb;
  font-family: Poppins, Regular;
  font-size: 12px;
  color: #1a1a1a;
  font-weight: 500;
  border-radius: 0.25rem;
}

.combobox-input:focus-visible {
  outline: none;
}

.combobox-input::placeholder{
  font-size: 13px;
  color: #bcc7ce;
}
