.homepageContainer {
  height: 400px;
}
.spacing {
  padding-top: 12rem;
}
.homeSelectionButton {
  background: #50bf97 0% 0% no-repeat padding-box;
  border-radius: 7px;
  opacity: 1;
  border: none;
  color: white;
}
.UnSelectionButton {
  background-color: transparent;
  border-radius: 7px;
  opacity: 1;
  border: none;
  color: #323D5A;
}
@media only screen and (max-width: 768px) {
  .homepageContainer {
    height: 300px;
  }
}
@media only screen and (max-width: 400px) {
  .homepageContainer {
    height: 200px;
  }
}
