.property_location {
  height: 20rem;
  border-radius: 15px;
  background-color: #ffffff;
}

.map_container {
  width: 100%;
  height: 220px;
  border-radius: 0.25rem;
}
.placesAutocomplete {
  z-index: 999;
}
.comboboxInput {
  border: none;
}
.comboboxInput:focus-visible {
  outline: none;
}
.comboboxInput::placeholder {
  color: #dddbdb;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  position: absolute;
  top: 25%;
}
.save_btn {
  background-color: #1d72db;
  border-radius: 5px;
  border: none;
  color: #ffff;
  font-family: Poppins;
}
.card_radius {
  border-radius: 10px;
}
.close_icon {
  width: 10% !important;
}
.city_input_tag {
  background: #dbe9f200 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border-color: #dddbdb;
  border-width: 1px;
  border-style: solid;
}

@media only screen and (max-width: 480px) {
  .modal {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: max-content;
    position: fixed;
    right: 0;
    top: 0;
  }
}
