.edit_profile {
  margin-top: 7rem;
  width: 90%;
}
.edit_profile_card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #0000001f;
  border-radius: 10px;
  opacity: 1;
  height: 85vh;
  padding-bottom: 10rem !important;
}
.arrow_left_button {
  background: #323d5a 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #0000001f;
  border: none;
  border-radius: 5px;
  opacity: 1;
  width: 20px;
  height: 20px;
}
.edit_profile_heading {
  color: #323d5a;
}
.edit_horizontal_line {
  border: 0.5px solid var(--unnamed-color-dbe9f2);
  border: 0.5px solid #dbe9f2;
}
.profile_picture_heading {
  color: #bcc7ce;
  white-space: nowrap;
}
.profile_photo {
  border-radius: 10px;
  opacity: 1;
}
.nmm {
  height: 1rem;
}

.profile_type {
  color: #1d1e1f;
  white-space: nowrap;
}
.type_buyer {
  color: #1d72db;
}

.contact_us_label {
  color: #1d1e1f;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.form_input {
  background: #dbe9f200 0% 0% no-repeat padding-box;
  border-color: #dddbdb;
  height: 2.8rem;
  border: 1px solid #dddbdb;
  border-radius: 4px;
  opacity: 1;
}
.email_input {
  border: none;
  height: 2.7rem;
}
.verified_input {
  background: #dbe9f200 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border-color: #dddbdb;
  border-width: 1px;
  border-style: solid;
}

.form_input:focus-visible {
  outline: none !important;
}
.email_input:focus-visible {
  outline: none !important;
}

.form_input::placeholder {
  color: #dddbdb;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  top: 20%;
}
.email_input::placeholder {
  color: #dddbdb;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  top: 10%;
}
.save_button_width {
  border: none;
  background: #1d72db 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: #ffffff;
  opacity: 1;
  white-space: nowrap;
}
.undo_button_width {
  border: 2px solid var(--unnamed-color-1d72db);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #1d72db;
  border-radius: 7px;
  opacity: 1;
  color: #1d72db;
  white-space: nowrap;
}

.form_width {
  width: 95%;
}
.verified_text {
  color: #50bf97;
}
.change_photo {
  background: #013ea3 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  color: #ffffff;
  white-space: nowrap;
  border: none;
}
.remove_photo {
  background-color: transparent;
  border-radius: 7px;
  color: #f77223;
  white-space: nowrap;
  border: none;
}
.image_container {
  width: 160px;
  height: 170px;
}
.description_box {
  height: 6rem;
  color: #323d5a;
  background: #dbe9f200 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border-color: #dddbdb;
  border-width: 1px;
  border-style: solid;
  resize: none;
}
.description_box:focus-visible {
  outline: none !important;
}
.description_box ::placeholder {
  color: #dddbdb;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  top: 20%;
}
@media only screen and (min-width: 992px) and (max-width: 1350px) {
  .edit_profile {
    width: 70%;
    padding-right: 0rem;
    margin-left: 6rem;
  }
  .form_width {
    width: 100%;
  }
}
@media only screen and (min-width: 1350px) and (max-width: 1600px) {
  .edit_profile {
    width: 85%;
    padding-left: 5rem;
  }
  
}
@media only screen and (max-width: 992px) {
  .form_width {
    width: 100%;
  }
  .edit_profile {
    width: 97%;
  }
  .edit_profile_card {
    height: fit-content;
  }
}
@media only screen and (max-width: 768px) {
  .form_width {
    width: 85%;
  }
  .edit_profile {
    width: 97%;
  }
}
@media only screen and (max-width: 600px) {
  .form_width {
    width: 100%;
  }
  .edit_profile {
    width: 97%;
  }
}
@media only screen and (width: 992px) {
  .edit_profile_card {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #0000001f;
  }
}
@media only screen and (max-width: 992px) {
  .edit_profile_card {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #0000001f;
  }
}
@media only screen and (min-width: 1600px) {
  .edit_profile {
    width: 90%;
  }
}
