.sidebar {
  position: absolute;
  box-shadow: 0px 0px 7px #ccc;
  height: 60rem;
  padding: 2rem;
  margin-top: 3rem;
}
.sidebar_links {
  color: inherit;
  font-family: Poppins;
  font-size: 1rem;
}
.logout{
  position: relative;
  margin-top: 30rem;
}
.logoutText{
  color: #1D72DB;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
}
.DropdownIcon {
  object-fit: contain;
  width: 0.2rem;
}
.arrow{
border: 1px solid #1D72DB;
width:1.3rem;
height: 1.5rem;
justify-content: center;
padding-left: 2px;
color:#1D72DB;
border-radius: 3px;
font-size: 1rem;
overflow: hidden;
}
.sidebar_list{
    font-weight: 500;
    color:#323D5A
}
.sidebar_listActive{
    font-weight: 500;
    color:#1D72DB
}
.DpContainer{
    width: 4rem;
    height: 4rem;
    border-radius: 7px;
    overflow: hidden;
}
.card {
  border: none;
  background-color: #fff;
}
.profile_name {
  font-family: Poppins;
  color: #323d5a;
  font-size: 1.1rem;
}
.phone_number {
  font-family: Poppins;
  font-size: 0.8rem;
  color: #bcc7ce;
}
.edit_profile {
  font-family: Poppins;
  font-size: 0.8rem;
  color: #1d72db;
}
.Dp {
  object-fit: cover;
}